<p>Student Upload</p>
<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Select Student</mat-label>
        <mat-select formControlName="studentId" (selectionChange)="studentSelected($event)">
            <mat-option [value]="''">
                Select a Student
            </mat-option>
            @for (item of students(); track $index) {
            <mat-option [value]="item.id">
                {{ item.lastName }}, {{ item.firstName }}
            </mat-option>
            }

        </mat-select>
    </mat-form-field>

    @if (documentCount() > 0) {
    <hr>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Document Name
            </th>
            <th class="center">
                Actions
            </th>
        </tr>
        <tr>
            @for (item of documents(); track $index) {
            <td>
                {{item.id}}   
            </td>
            <td>
                {{item.documentName}}
            </td>
            <td class="center">
                <button mat-raised-button color="primary" (click)="downloadDocument(item.id)">
                    Download
                </button>
                <button mat-raised-button color="warn" (click)="deleteDocument(item.id)">
                    Delete
                </button>
            </td>
            }
        </tr>
    </table>
    }

</form>